nav {
	height: 80px;
	width: 100%;
	font-family: Montserrat;
}

#chs {
	color: black;
	float: right;
	font-size: 33px;
	margin-left: 30px;
	margin-top: 10px;
	font-weight: 100;
}

#graphics {
	font-weight: 400;
}

#eagle-logo {
	margin-left: 20px;
}

nav ul {
	float: right;
	height: 80px;
}

.brand-logo {
	height: 80px;
}

nav ul li {
	display: inline-block;
	margin-top: 8px;
	margin-left: 10px;
	margin-right: 10px;
}

nav ul li a {
	color: black;
	padding-right: 25px;
	padding-left: 25px;
}

.navitem:hover, .active {
	border-bottom: 8px solid black;
}

@media only screen and (max-width: 992px) {
  nav .brand-logo {
	  left: 0%;
	  -webkit-transform: none;
	  transform: none;
  }
}
