nav {
	height: 80px;
	width: 100%;
	font-family: Montserrat;
}

nav ul {
	float: right;
}

nav ul li {
	display: inline-block;
	margin: 10px;
}

.navitem:hover {
	border-bottom: 6px solid black;
}

.active {
	border-bottom: 6px solid black;
}

nav ul li a {
	color: black;
}
